.flashcardSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--spacing-0);
    background-color: var(--neutral-100);
    border-top: 1px solid var(--neutral-900);
    border-left: 1px solid var(--neutral-900);
    border-bottom: 3px solid var(--neutral-900);
    border-right: 3px solid var(--neutral-900);
    border-radius: var(--radius-16);
}
