.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pageToggler {
    background-color: var(--neutral-0);
    border: 1px solid var(--neutral-900);
    border-radius: var(--radius-full);
    box-shadow: 1px 2px 0px 0px var(--neutral-900);
    padding: var(--spacing-50);
    gap: var(--spacing-50);
}

.logo {
    width: var(--spacing-500);
    height: var(--spacing-500);
}
