.flashcardContainer {
    padding-inline: var(--spacing-200);
    padding-block: var(--spacing-300);
    border-top: 1px solid var(--neutral-900);
    border-bottom: 1px solid var(--neutral-900);
    position: relative;
}

.flashcardContent {
    background-color: var(--pink-400);
    border: 2px solid var(--neutral-900);
    border-radius: var(--radius-16);
    height: 22rem;
    padding-inline: var(--spacing-200);
    padding-block: var(--spacing-300);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categoryName {
    background-color: var(--neutral-0);
    border: 1px solid var(--neutral-900);
    border-radius: var(--radius-full);
    padding-inline: var(--spacing-150);
    padding-block: var(--spacing-75);
    font-family: var(--p6-ff);
    font-weight: var(--p6-fw);
    font-size: var(--p6-fs);
    line-height: var(--p6-lh);
    letter-spacing: var(--p6-ls);
}
