.flashcardContainer {
    padding-inline: var(--spacing-200);
    padding-block: var(--spacing-300);
    border-top: 1px solid var(--neutral-900);
    border-bottom: 1px solid var(--neutral-900);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-250);
}

.flashcardContent {
    background-color: var(--pink-400);
    border: 2px solid var(--neutral-900);
    border-radius: var(--radius-16);
    height: 22rem;
    width: 100%;
    padding-inline: var(--spacing-200);
    padding-block: var(--spacing-300);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px 1px var(--neutral-900);
}

.categoryName {
    background-color: var(--neutral-0);
    border: 1px solid var(--neutral-900);
    border-radius: var(--radius-full);
    padding-inline: var(--spacing-150);
    padding-block: var(--spacing-75);
    font-family: var(--p6-ff);
    font-weight: var(--p6-fw);
    font-size: var(--p6-fs);
    line-height: var(--p6-lh);
    letter-spacing: var(--p6-ls);
    box-shadow: 1px 1px 1px var(--neutral-900);
}

.questionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-200);
    height: 15.5rem;
    padding-inline: 2rem;
}

.questionTitle {
    font-family: var(--p1m-ff);
    font-weight: var(--p1m-fw);
    font-size: var(--p1m-fs);
    line-height: var(--p1m-lh);
    letter-spacing: var(--p1m-ls);
    color: var(--neutral-900);
}

.revealAnswer {
    color: var(--neutral-900);
    opacity: 80%;
    font-family: var(--p4-md-ff);
    font-weight: var(--p4-md-fw);
    font-size: var(--p4-md-fs);
    line-height: var(--p4-md-lh);
    letter-spacing: var(--p4-md-ls);
}

.masteryLevel {
    color: var(--neutral-900);
    font-family: var(--p6-ff);
    font-weight: var(--p6-fw);
    font-size: var(--p6-fs);
    line-height: var(--p6-lh);
    letter-spacing: var(--p6-ls);
}

.actionsContainer {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-125);
}
