.mainContainer {
    font-family: "Poppins-Regular";
    padding-inline: var(--spacing-200);
    padding-top: var(--spacing-200);
    background-color: var(--neutral-100);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}
