.mainContainer {
    font-family: "Poppins-Regular";
    padding-inline: var(--spacing-200);
    padding-top: var(--spacing-200);
    padding-bottom: var(--spacing-500);

    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
    min-height: 100vh;
    width: 1240px;
}

@media (min-width: 1024px) {
    .mainContainer {
        gap: 32px;
        padding: 24px;
    }
}
