:root {
    /* Colors */
    --neutral-900: #2E1401;
    --neutral-600: #6D5B4D;
    --neutral-100: #F7F3F0;
    --neutral-0: #FFFFFF;

    --yellow-500: #f8cb46;
    --blue-400: #92adeb;
    --blue-600: #5072c7;
    --teal-400: #47d9c9;
    --pink-400: #fc8ae5;
    --pink-500: #f073a3;
    --pink-700: #e11966;

    /* Spacing */
    --spacing-0: 0;
    --spacing-25: 2px;
    --spacing-50: 4px;
    --spacing-75: 6px;
    --spacing-100: 8px;
    --spacing-125: 10px;
    --spacing-150: 12px;
    --spacing-200: 16px;
    --spacing-250: 20px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-600: 48px;
    --spacing-800: 64px;
    --spacing-1000: 80px;
    --spacing-1200: 96px;
    --spacing-1400: 112px;
    --spacing-1600: 128px;
    --spacing-1800: 140px;

    /* Radius */
    --radius-0: 0;
    --radius-4: 4px;
    --radius-6: 6px;
    --radius-8: 8px;
    --radius-10: 10px;
    --radius-12: 12px;
    --radius-16: 16px;
    --radius-20: 20px;
    --radius-24: 24px;
    --radius-full: 999px;
}