.dropdown {
    padding-block: var(--spacing-150);
    padding-inline: var(--spacing-200);
    background-color: var(--neutral-100);
    border: 1px solid var(--neutral-900);
    border-radius: var(--radius-full);
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--neutral-900);
    font-family: var(--p4-md-ff);
    font-weight: var(--p4-md-fw);
    font-size: var(--p4-md-fs);
    line-height: var(--p4-md-lh);
    letter-spacing: var(--md-rg-ls);
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-200);
    align-items: center;
    padding-block: var(--spacing-150);
    padding-inline: var(--spacing-200);
}

.dropdownContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    row-gap: var(--spacing-100);
}

/* ensure the header's button doesn't grow to fill available width */
.headerContainer button {
    flex: 0 0 auto;
    align-self: first baseline;
}

.checkboxContainer {
    display: flex;
    gap: var(--spacing-100);
}
